@model SheilaWard_CFBlog.ViewModels.EmailModel
@{
    ViewBag.Title = "Home Page";
}



    <div class="section-title">
        <h1 class="section-heading">My Blog</h1>
        <h2 class="section-subheading-nobg">My Experiences at Coder Foundry Bootcamp</h2>
    </div>

    @*<div class="panel">
        <div class="panel-body">
            <div id="c-slide" class="carousel slide auto">
                <ol class="carousel-indicators out">
                    <li class="active" data-slide-to="0" data-target="#c-slide"></li>
                    <li data-slide-to="1" data-target="#c-slide"></li>
                    <li data-slide-to="2" data-target="#c-slide"></li>
                </ol>
                <div class="carousel-inner blog-img-wide">
                    <div class="item text-center active">
                        <img src="~/images/blog-wide-img.jpg" alt="">
                    </div>
                    <div class="item text-center">
                        <img src="~/images/blog-wide-img.jpg" alt="">
                    </div>
                    <div class="item text-center">
                        <img src="~/images/blog-wide-img.jpg" alt="">
                    </div>
                </div>
            </div>
            <h1><a href="blog_details.html">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
            <p class="auth-row">
                By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
            </p>
        </div>
    </div>*@



<div class="row blog">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel">
            <div class="panel-body">
                <div id="c-slide" class="carousel slide auto">
                    <ol class="carousel-indicators out">
                        <li class="active" data-slide-to="0" data-target="#c-slide"></li>
                        <li data-slide-to="1" data-target="#c-slide"></li>
                        <li data-slide-to="2" data-target="#c-slide"></li>
                    </ol>
                    <div class="carousel-inner blog-img-wide">
                        <div class="item text-center active">

                            <img src="~/Content/maxresdefault.jpg" alt="" />
                        </div>
                        <div class="item text-center">

                            <img src="~/Content/Sanders_Temp_Headshot.jpg" alt="" />
                        </div>
                        <div class="item text-center">

                            <img src="~/Content/JasonTwichell.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <h1><a href="blog_details.html">My Journey to Coder Foundry - Coding Bootcamp in Kernersville, NC</a></h1>
                <p class="auth-row">
                    By  Sheila Ward | 25 July 2019
                </p>
                <p>
                    In the Spring of 2019, after going through a layoff, several semesters of Community College Courses, a Coding Bootcamp near Raleigh, NC, and 
                    a Coding Bootcamp online through Udemy, I still found myself without a job, and feeling very depressed about the situation.  
                </p>
                <p>
                    I had done my research on Coding Bootcamps before the first one, and although Coder Foundry was nearer to me, it cost significantly more than the
                    one in Raleigh.  So I went with the cheaper (??) alternative.  It was a 6-month cohort, starting in May 2018 and ending in Nov 2018.  I enjoyed
                    it very much and worked very hard learning the MERN stack, which seems to be the "up-and-coming thing" in coding.  There was a career component too,
                    and I figured (having worked in the business for 20 some years) that something would be coming my way within a reasonable time.  Girl, take those
                    rose-colored glasses off now!!  
                </p>
                <p>
                    The career director at the UNC-CH Coding Bootcamp was very nice and patient with me; however, the things he was asking of me were just not intuitive
                    to me.  It was very frustrating.  And it seemed like there was no ongoing support for technical questions that I still had.  Enter Coder Foundry!
                </p>
                <p>
                    I was going to all the meetups that I could, and at one of them I met a man who had gone to TWO bootcamps, one of them being Coder Foundry.  I 
                    began to think about it and look around again at bootcamps.  Soon I realized that Coder Foundry had a new payment plan - an "Income Share" method 
                    called the Launchpad Program that was intriguing to me.  It was not so much my need for financing that drew me to Coder Foundry, but my need to know 
                    that these people were committed to helping me find a good job again.  They were willing to train me up front, then I would only need to pay them 
                    back after getting a job making at least $40,000.  Also, I found that they were doing their first part-time cohort, which appealed to me.  
                </p>
                <p>
                    I also found out that Coder Foundry teaches the C# MVC .NET Framework, and the reason why they do it is because that is the stack that has the most 
                    opportunities for Junior Developers in this area (NC Triad).  My preference is to stay in this area, as my children and their families all live here.
                </p>
                <p>
                    I talked with Natosha Sanders about the part-time cohort coming up.  The cut-off date had passed for the part-time, but not for the full-time cohort.  
                    I was disappointed, but still decided to take the quiz that shows if you are right for a coding career.  Well, within an hour Natosha called me back,
                    and told me that I had only missed ONE question on the quiz (the highest score any student has had), and gave me the opportunity to sign up late for the part-time cohort.  That was the sign
                    I was looking for! 
                </p>
                <p>    
                    I am very grateful to have this opportunity to work with Jason Twichell who is our instructor, Bobby Davis who is the founder and
                    president of Coder Foundry, and who also handles our job interview training, and Natosha Sanders who is the head of job placement services, and will 
                    be doing her best to place us with companies around the Triad.
                </p>
            </div>
        </div>
    </div>
</div>

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <!--section contact start-->
                <div class="section-contact">
                    <div class="map-header" id="contact">
                        <div class="container">
                            <span class="map-link">
                                Click the envelope to send me an email...
                            </span>
                        </div>
                    </div>
                    <div class="contact-map">
                        <div class="location-map"></div>
                        <div class="contact-form panel-hide wow bounceInUp">
                            <div class="form-container">
                                <!-- The "name" parameter on the input has to match the EmailModel class -->
                                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <h5>All Fields Required</h5>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <!-- Name -->
                                            <input type="text" name="FromName" id="name" class=" form-control" placeholder="Name"
                                                   maxlength="100" required="">
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <!-- Email -->
                                            <input type="email" name="FromEmail" id="email" class=" form-control" placeholder="Email"
                                                   maxlength="100" required="">
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <!-- Subject -->
                                            <input type="text" name="Subject" id="subject" class=" form-control" placeholder="Subject "
                                                   maxlength="100" required="">
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <!-- Comment -->
                                            <textarea name="Body" id="comments" class=" form-control" placeholder="Comments"
                                                      maxlength="400" required=""></textarea>
                                        </div>

                                        <div class="col-md-12 form-group text-center">
                                            <button type="submit" class="btn btn-share ">
                                                Send Message
                                            </button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="toggle-contact-form wow bounceInUp">
                            <a href="#" class="form-toggle-icon">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--section contact end-->
            </div>
        }
        else
        {
 
                    <h3>Please <a href='@Url.Action("Login", "Account")'>login</a> or <a href='@Url.Action("Register", "Account")'>register</a> to send me an email.</h3>
        }

