@model IEnumerable<SheilaWard_CFBlog.Models.Comment>

    <div class="panel">
        <div class="panel-body">
            <div class="blog-post">
                <h3>recent comments</h3>
                <ul>
                    @foreach (var item in Model)
                    {
                    <li style="display:inline-block; line-height:1em;"><i class=" fa fa-comments-o"></i>@Html.ActionLink(item.BlogPost.Title, "Details", new { slug = item.BlogPost.Slug }) <p style="line-height:1em;">@item.CommentBody</p></li>
                    }
                </ul>
            </div>
        </div>
    </div>
