@model IEnumerable<SheilaWard_CFBlog.Models.Comment>

<style>
    .blog-post ul li a {
        line-height:1em;
    }
</style>

    <div class="panel">
        <div class="panel-body">
            <div class="blog-post">
                <h3>recent comments</h3>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li style="line-height:1em;">
                            <span><i class=" fa fa-comments-o"></i>@item.BlogPost.Title &emsp; @item.BlogPost.Created.ToString("MM/dd/yyyy")</span>
                            <div style="padding: 5px 0 5px 30px;">@Html.ActionLink(item.CommentBody, "Details", new { style = "line-height:1em;", slug = item.BlogPost.Slug });</div>
                        </li>
                        <li>&nbsp;</li>
                    }
                </ul>
            </div>
        </div>
    </div>
