@model IEnumerable<SheilaWard_CFBlog.Models.BlogPost>

<div class="panel">
    <div class="panel-body">
        <div class="blog-post">
            <h3>Latest Blog Posts</h3>
            <div>
                @foreach (var item in Model)
                {
                <div class="media">
                    @if (item.MediaURL == null)
                    {
                       
                        <a href="javascript:;" class="pull-left">
                            <img style="width:120px;" src="~/Content/defaultImage.jpg" alt="" />
                        </a>
                    }
                    else
                    {
                        <a href="javascript:;" class="pull-left">
                            <img style="width:120px;" src="@item.MediaURL" alt="" />
                        </a>
                    }
                    <div class="media-body">
                        <h5 class="media-heading">@item.Created.ToString("MM/dd/yyyy")</h5>
                        <p style="color:#837f7e; line-height:1em;">@Html.ActionLink(item.Title, "Details", new { slug = item.Slug })</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

