@model IEnumerable<SheilaWard_CFBlog.Models.Comment>

    <div class="panel">
        <div class="panel-body">
            <div class="blog-post">
                <h3>recent comments</h3>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li><a href="javascript:;"><h5 class="comments"><i class=" fa fa-comments-o"></i> @item.CommentBody </h5></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
